version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/backend"
    target-branch: "stage"
    schedule:
      interval: "weekly"
    groups:
      rust-minor-patch:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "npm"
    directory: "/frontend"
    target-branch: "stage"
    schedule:
      interval: "weekly"
    groups:
      npm-minor-patch:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "stage"
    schedule:
      interval: "weekly"
    groups:
      actions:
        patterns:
          - "*"
